extends ../layouts/email.pug

block content
  p Halo #{displayName},
  p Anda baru saja meminta pemasangan ulang kata sandi akun CharaDB Anda.
  p
    | Silakan klik tautan ini untuk memasang ulang kata sandi Anda: #[br]
    | #[a(href=link)= link]
  p
    | Jika Anda tidak merasa melakukan hal ini, silakan abaikan pesan ini.
    | Tautan ini akan kadaluwarsa dalam 10 menit dan tidak ada perubahan apapun.
  p: i CharaDB
